* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-section {
  background: linear-gradient(to right, rgba(97, 222, 238, 0.658), rgba(18, 80, 224, 0.669), rgba(97, 222, 238, 0.658)), url(images/header&nav.jpg) left;
  height: 800px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.hero-section h5 {
  color: white;
  font-weight: bold;
  left: 220px;
  top: 20px;
  position: absolute;
}
.hero-section .nav-btn {
  border: 1px solid transparent;
  color: white;
  height: 45px;
  width: 150px;
  cursor: pointer;
  background-color: rgb(66, 133, 248);
}
.hero-section .nav-btn:hover {
  transition: 0.2s linear;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.525);
}
.hero-section .header-content {
  position: absolute;
  top: 300px;
  left: 115px;
  width: -moz-fit-content;
  width: fit-content;
  animation: header-anim 2s ease 0s 1 normal forwards;
}
.hero-section .header-content h2 {
  color: white;
  font-size: 42px;
  font-weight: bolder;
}
.hero-section .header-content p {
  color: white;
}
.hero-section .content-btn {
  position: relative;
  top: 480px;
  margin-left: 5px;
  display: flex;
  gap: 15px;
  animation: header-anim 2s ease 0s 1 normal forwards;
}
.hero-section .content-btn button {
  height: 50px;
  width: 150px;
}
.hero-section .content-btn button:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.525);
}
.hero-section .content-btn .demo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(69, 66, 66);
  font-weight: 600;
  border: none;
  border-radius: 2px;
}
.hero-section .content-btn .learn-more-btn {
  font-weight: 400;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;
}
.hero-section nav {
  height: 70px;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3949ab;
  padding: 1em;
  box-shadow: 0 0 10px 0 white;
}
.hero-section nav a {
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
.hero-section nav input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
.hero-section nav label {
  display: none;
  cursor: pointer;
}
.hero-section nav ul {
  margin-top: 10px;
  align-items: center;
  list-style: none;
  display: flex;
  gap: 1em;
}
.hero-section nav ul a {
  padding: 0.5em;
}
.hero-section nav ul a:hover {
  background-color: rgb(66, 133, 248);
  border-radius: 0.5em;
}

.card-section {
  display: flex;
}
.card-section .cards {
  color: white;
  height: 300px;
  width: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
}
.card-section img {
  filter: brightness(0) invert(1);
  margin: auto;
}

.work-section {
  background-color: #f4f4f4;
  padding-top: 80px;
  padding-bottom: 20px;
}
.work-section p {
  font-size: 20px;
  font-weight: lighter;
  color: grey;
}
.work-section h1,
.work-section p {
  text-align: center;
}
.work-section .work-cards {
  display: flex;
  justify-content: space-between;
}
.work-section .work-cards .work-card {
  text-align: center;
  padding-top: 40px;
  animation: work-section-anim 2s ease 0s 1 normal forwards;
}
.work-section .work-cards .work-card p {
  font-size: 16px;
  font-weight: normal;
  color: grey;
  padding-top: 15px;
}

.project-content {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}
.project-content p {
  font-size: 20px;
  color: grey;
}

.project-cards {
  animation: project-anim 2s ease 0s 1 normal forwards;
}
.project-cards .img-parent-right {
  margin-top: 50px;
  height: 350px;
  width: 510px;
}
.project-cards .img-parent-right img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 black;
}
.project-cards .img-parent {
  margin-top: 50px;
  height: 350px;
  width: 510px;
}
.project-cards .img-parent img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 black;
}

.projects-section {
  border: 2px solid transparent;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.projects-section .top-sec {
  display: flex;
  gap: 150px;
  align-items: center;
  margin: auto;
}
.projects-section .top-sec .content .left-content {
  display: flex;
  gap: 15px;
}
.projects-section .top-sec .content h5 {
  font-weight: bold;
}
.projects-section .top-sec .para {
  color: grey;
  font-weight: 200;
  font-size: 20px;
}

.projects-section-right .content {
  left: 0;
}

.pricing-section {
  width: 100%;
  background-color: #3949ab;
}

.pricing-content {
  padding-top: 100px;
}
.pricing-content .pricing-heading {
  text-align: center;
}
.pricing-content .pricing-heading h1 {
  color: white;
  font-weight: bolder;
  margin-bottom: 50px;
}
.pricing-content .pricing-heading p {
  font-size: 20px;
  color: rgb(215, 211, 211);
}

.pricing-table {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.pricing-table a {
  text-decoration: none;
}

.pricing-card {
  background-image: url(images/header&nav.jpg);
  background-position: center;
  border-radius: 5px;
  height: 600px;
  width: 370px;
  margin: 20px 10px;
  text-align: center;
  animation: price-anim 2s ease 0s 1 normal forwards;
}
.pricing-card .back-individual {
  width: auto;
  height: 600px;
  background-color: rgba(62, 69, 81, 0.7);
  position: relative;
  bottom: 40px;
}
.pricing-card .back-individual .price-content {
  position: relative;
  top: 50px;
}
.pricing-card .back-professional {
  width: auto;
  height: 600px;
  background-color: rgba(0, 150, 136, 0.7);
  position: relative;
  bottom: 40px;
}
.pricing-card .back-professional .price-content {
  position: relative;
  top: 50px;
}
.pricing-card .back-premium {
  width: auto;
  height: 600px;
  background-color: rgba(244, 67, 54, 0.7);
  position: relative;
  bottom: 40px;
}
.pricing-card .back-premium .price-content {
  position: relative;
  top: 50px;
}
.pricing-card .pricing-card-header {
  color: white;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
}

.price {
  color: white;
  font-size: 70px;
  margin: 40px 0;
}

.price sup,
span {
  font-size: 50px;
}

.pricing-card li {
  color: white;
  list-style: none;
  font-size: 16px;
  padding: 10px 0;
}

.order-btn {
  margin: auto;
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 140px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s linear;
}
.order-btn:hover {
  box-shadow: 0 0 10px 0 black;
}

.team .section-title {
  margin-top: 100px;
  padding-bottom: 40px;
  text-align: center;
}
.team .section-title h1 {
  font-weight: 600;
  margin-bottom: 40px;
}
.team .section-title p {
  font-size: 20px;
  color: grey;
  font-weight: lighter;
}
.team .member {
  display: flex;
  margin-top: 30px;
  position: relative;
  padding: 30px;
  animation: team-anim 2s ease 0s 1 normal forwards;
}
.team .member .pic {
  margin-left: 50px;
  height: 200px;
  width: 200px;
}
.team .member .pic img {
  box-shadow: 0 0 8px 0;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .member .member-info {
  padding-left: 50px;
}
.team .member .member-info a {
  text-decoration: none;
}
.team .member span {
  color: grey;
  font-size: 17px;
  padding-bottom: 10px;
  font-weight: bold;
}
.team .member .member-para {
  margin: 10px 0 0 0;
  font-size: 15px;
  color: grey;
  font-weight: lighter;
  padding-bottom: 15px;
}

.contact-us {
  background-image: url(images/header&nav.jpg);
  width: 100%;
  margin-top: 100px;
}
.contact-us .bg-img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.contact-us .bg-img .form-section {
  animation: contact-anim 2s ease 0s 1 normal forwards;
}
.contact-us .contact-heading {
  padding-top: 20px;
  text-align: center;
}
.contact-us .contact-heading h1 {
  color: white;
  font-weight: 600;
  margin-bottom: 40px;
}
.contact-us .contact-heading p {
  font-size: 20px;
  color: white;
  font-weight: lighter;
}

.form-section {
  padding-bottom: 50px;
}
.form-section .fill-form {
  height: 100%;
  margin-top: 60px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 60px;
}
.form-section .fill-form input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 5px;
  outline: none;
}
.form-section .fill-form .subject-input {
  margin-top: 50px;
}
.form-section .fill-form #text-area {
  border: none;
  border-bottom: 1px solid black;
  margin-top: 50px;
  outline: none;
}

.form-btn {
  width: 160px;
  padding: 10px 40px;
  margin-top: 50px;
  background-color: rgb(88, 88, 214);
  border: none;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-btn:hover {
  box-shadow: 0 0 5px 0 rgb(71, 69, 69);
  cursor: pointer;
  transition: 0.2s linear;
}

.content-section .contact-section {
  text-align: center;
  margin-bottom: 20px;
}
.content-section .contact-section .contact-icon {
  margin-bottom: 10px;
}

.footer .footer-section .top-footer {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
  height: 70px;
  background-color: #2b3ca9;
}
.footer .footer-section .top-footer i {
  cursor: pointer;
  filter: brightness(0) invert(1);
  line-height: 70px;
}
.footer .footer-section .bottom-footer {
  font-size: 14px;
  color: white;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #17257e;
}
.footer .footer-section .bottom-footer span {
  font-size: 14px;
  color: grey;
}

@keyframes header-anim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes work-section-anim {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes contact-anim {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes team-anim {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes price-anim {
  0% {
    transform: scale(0);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}
@keyframes project-anim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 992px) {
  .hero-section nav h5 {
    left: 100px;
  }
  .hero-section nav label {
    display: block;
    filter: brightness(0) invert(1);
  }
  .hero-section nav ul {
    font-size: 1.2em;
    position: absolute;
    left: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    gap: 2em;
    top: 60px;
    width: 400px;
    height: calc(100vh - 60px);
    transition: 0.5s;
  }
  .hero-section nav ul a:hover {
    background-color: #2c8eec;
  }
  .hero-section nav input[type=checkbox]:checked ~ ul {
    left: 0;
  }
  .hero-section h5 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    left: 25px;
    top: 20px;
    position: absolute;
  }
  .hero-section .header-content {
    position: relative;
    left: 15px;
  }
  .hero-section .content-btn {
    position: relative;
    top: 300px;
    margin-left: 40px;
    display: flex;
    gap: 15px;
  }
  .hero-section-card .card-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .section-heading h1 {
    font-size: 30px;
  }
  .section-heading .section-content {
    font-size: 15px;
  }
  .work-section .work-cards .work-card img {
    height: 40px;
    width: 40px;
  }
  .work-section .work-cards .work-card h4 {
    font-size: 20px;
  }
  .work-section .work-cards .work-card p {
    font-size: 15px !important;
  }
  .project-section .project-content .section-heading h1 {
    font-size: 30px;
  }
  .project-section .project-content .section-heading p {
    font-size: 15px;
  }
  .project-section .project-cards .top-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .project-section .project-cards .top-sec .img-parent {
    height: 340px;
    width: 100%;
  }
  .project-section .project-cards .top-sec .img-parent img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .project-section .project-cards .top-sec .img-parent-right {
    height: 340px;
    width: 100%;
  }
  .project-section .project-cards .top-sec .img-parent-right img {
    margin-left: 0px;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .project-section .project-cards .top-sec .content {
    margin-top: 50px;
  }
  .project-section .project-cards .top-sec .content h5 {
    font-size: 20px;
  }
  .project-section .project-cards .top-sec .content p {
    font-size: 15px;
  }
  .project-section .project-cards .projects-section-right {
    left: 0;
  }
  .project-section .project-cards .projects-section-right .content h5 {
    font-size: 20px;
  }
  .project-section .project-cards .projects-section-right .content p {
    font-size: 15px;
  }
  .pricing-content .pricing-heading p {
    font-size: 15px;
  }
  .pricing-section .pricing-table {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing-section .pricing-table .pricing-card {
    width: 100%;
  }
  .pricing-section .pricing-table .pricing-card .order-btn {
    margin: auto;
    margin-top: 20px;
  }
  #teams {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  #teams .pic {
    height: 250px;
    width: 250px;
  }
  #teams .pic img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #teams .member {
    display: flex;
    justify-content: space-between;
    padding: 0%;
    width: 100%;
  }
  #teams .member .member-info {
    width: -moz-fit-content;
    width: fit-content;
  }
  .fill-form {
    width: -moz-fit-content;
    width: fit-content;
    height: 450px;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .hero-section nav h5 {
    left: 20px;
  }
  .hero-section nav ul {
    width: 300px;
  }
  .hero-section .header-content {
    left: 10px;
  }
  .hero-section .header-content h2 {
    text-align: center;
    font-size: 35px;
  }
  .hero-section .header-content p {
    margin-right: 40px;
    font-size: 15px;
    text-align: center;
  }
  .hero-section .content-btn {
    margin-top: 50px;
    gap: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .hero-section-card .card-section {
    display: flex;
    flex-direction: column;
  }
  .hero-section-card .card-section .cards p {
    font-size: 15px;
  }
  .work-section .work-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-section .project-cards .top-sec .content {
    margin-top: 30px;
  }
  .project-section .project-cards .top-sec .img-parent,
  .project-section .project-cards .top-sec .img-parent-right {
    height: 300px;
    width: 100%;
  }
  .project-section .project-cards .top-sec .img-parent img,
  .project-section .project-cards .top-sec .img-parent-right img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pricing-section .pricing-table .pricing-card {
    width: 100%;
  }
  .pricing-section .pricing-table .pricing-card .order-btn {
    margin: auto;
    position: relative;
    top: 50px;
  }
  #teams .member {
    gap: 25px;
    flex-direction: column;
    width: 100%;
  }
  .content-section {
    margin-bottom: 25px;
  }
  .contact-us .fill-form {
    margin: 0;
    height: auto;
    padding-top: 40px;
  }
  .contact-us .fill-form #form {
    gap: 50px;
  }
  .contact-us .fill-form .content textarea {
    width: 100%;
  }
  .contact-us .fill-form .form-btn {
    margin: auto;
    margin-top: 25px;
  }
  .contact-us .contact-heading p {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */